<div class="row">
   <div class="btn-group">
      <a href="/deals/new" class="btn btn-primary btn-lg">I want to share!</a>
    </div>
    <div class="btn-group">
      <a href="/deals" class="btn btn-primary btn-lg">I need some care!</a>
    </div>
</div>
