<div class="row">
  <button type="button-xlarge" class="btn btn-primary btn-lg" href="#">I want to share</button>
  <button type="button-xlarge" class="btn btn-primary btn-lg" href="#">I need some care</button>
</div>
