<h1>To take:<h1>

<div>
  <img src="http://2.bp.blogspot.com/_zW4LnPXnfx4/S0QGS-5kkzI/AAAAAAAABpI/rjwoYYaFLLU/s400/sassari-ikat-sofa.JPG" alt="Pulpit rock" class="img-rounded">
</div>


<p>Sofa like new</p>
<p>Gartenstrasse 104, 10115 Berlin</p>
<p>Bought one year ago, still looks like new. This amazing sofa is looking for new owner!</p>


<button type="button" class="btn btn-primary">Book it!</button>