<!--CONTENT-->

<div style="display:inline" align="center" class="text-center">

					<h2>What you're looking for?</h2>
					<form class="navbar-form" >
						<input type="text" class="form-control col-lg-10" placeholder="Search by tags e.g. #lamp or post code e.g. 10999">
						
					</form>
				<ul class="nav-tabs.nav-justified" style="margin-top:20px;margin-bottom:20px">
					<div style="text-align:center" class="checkbox-inline">
						<label>
                          <input type="checkbox" > Books
                        </label>
                        
						</div><div class="checkbox-inline">
						<label>
                          <input type="checkbox" > Clothes
                        </label>
                      </div><div class="checkbox-inline">
                        <label>
                          <input type="checkbox"> Furnitures
                        </label>
                      </div><div class="checkbox-inline">
                        <label>
                          <input type="checkbox"> Plants
                        </label>
                      </div><div class="checkbox-inline">
                        <label>
                          <input type="checkbox"> Animals
                        </label>
                      </div></ul>
                </div>
				
<!--map-->
     <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size:1px; border-collapse:collapse; background-color:9DCFD3;line-height:27px;" align="center">
     <tr><td align="center" valign="top" >
     <a target='_blank' title='Map' href='http://imageshack.us/photo/my-images/594/j0ov.png/'><img class="img-rounded" src='http://img594.imageshack.us/img594/9526/j0ov.png' border='0'/></a></tr><td></table>

     <!--/map-->
