<body>
<h1>To give away:</h1>

<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail1" class="col-lg-2 control-label">What?</label>
    <div class="col-lg-10">
      <input type="email" class="form-control" id="inputEmail1" placeholder="title of your offer">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword1" class="col-lg-2 control-label">Where?</label>
    <div class="col-lg-10">
      <input type="email" class="form-control" id="inputPassword1" placeholder="exact address">
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-lg-2 control-label">Description</label>
    <div class="col-lg-10">
      <textarea class="form-control" rows="3" id="description" placeholder="add some info"></textarea>
    </div>
  </div>
</form>

<div style="display:inline" align="centre" style="text-align:center" >
  <ul class="nav-tabs.nav-justified" style="margin-top:20px;margin-bottom:20px">
    <div style="text-align:center" class="checkbox-inline">
      <label>
        <input type="checkbox" style="float:none" > Clothes
      </label>
    </div>
    <div class="checkbox-inline">
      <label>
        <input type="checkbox"> Furnitures
      </label>
    </div>
    <div class="checkbox-inline">
      <label>
        <input type="checkbox"> Plants
      </label>
    </div>
    <div class="checkbox-inline">
      <label>
        <input type="checkbox"> Animals
      </label>
    </div>
  </ul>
</div>

<div class="form-group" style="float: left;">
  <label for="exampleInputFile">Add nice pic!</label>
    <input type="file" id="exampleInputFile">
</div>

<button type="button" class="btn btn-primary btn-lg" stylet="float-right">Share it!</button>

<br/><br/><br/>
</body>
