<h1>Your share:<h1>

<div>
  <img border="0" src="http://2.bp.blogspot.com/_zW4LnPXnfx4/S0QGS-5kkzI/AAAAAAAABpI/rjwoYYaFLLU/s400/sassari-ikat-sofa.JPG" alt="Pulpit rock" width="304" height="228">
</div>