<h1>To take:<h1>

<div align="left">
  <img src="http://2.bp.blogspot.com/_zW4LnPXnfx4/S0QGS-5kkzI/AAAAAAAABpI/rjwoYYaFLLU/s400/sassari-ikat-sofa.JPG" alt="Pulpit rock" class="img-rounded">
</div>


<div style="margin-top: 50px; margin-bottom: 20px;">Sofa like new</div>
<div>Gartenstrasse 104, 10115 Berlin</div>
<div>Bought one year ago, still looks like new. This amazing sofa is looking for new owner!</div>

<br/>


    <div class="btn-group" style="margin-right:25%">
      <a href="/book" class="btn btn-primary btn-lg">Confirm</a>
    </div>

<br/><br/><br/>