<!DOCTYPE html>
<html>
<head>
  <title>Sic</title>
=======
<html lang="en">
  <head>
    <meta charset="utf-8">
      <title>SHARING is caring! <3 </title>
>>>>>>> 4dc85a4ff23ded3611bc2817857ea36e3c6fb909
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
